.navbar {
    width: 100%;
    background-color: aquamarine;
    font-size: 16px;
    text-align: right;
    padding: 10px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline;
    padding: 15px;
    
}
a {
    text-decoration: none;
}
.article {
    width: 50%;
    float: left;
}

.picture {
    width: 50%;
    float: right;
}

.picture img {
    width: 100%;
    border-radius: 50%;
}

@media screen and (max-width:820px) {
    .article {
        width: 100%;
        display: block;
    }

    .article p {
        font-size: larger;
    }

    .picture {
        width: 100%;
        display: block;
    }
    
}